__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
SecureByDesign/data/
SecureByDesign/eval.log
SecureByDesign/evaluation/results/
*.log

# Jupyter
.ipynb_checkpoints/
